@keyframes blob-move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80px, 30px) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80px, 30px) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0px, 50px) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0px, 50px) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
}

.blob {
    position:relative;
    width: 100%;
    height: 300px;
    &__container {
        position: absolute;
        // top: 0;
        left: 20px;
        fill: $color-peach;
        width: 260px;
        z-index: -1;
        animation: blob-move 20s ease-in-out infinite;
        transform-origin: 50% 50%;
    }
}