@import "../../styles/variables.scss";

.heroImg {
  margin-top: -18rem;
  margin-left: auto;
  margin-right: auto;
}

.bgWhite {
  background-color: $color-white;
}

.bgGrey {
  background-color: $color-grey-medium;
}

.flowContainer {
  overflow: hidden;
  position: relative;
  height: 60rem;
  margin-bottom: 4rem;
  @media screen and (max-width:$bp-tablet) {
    margin-bottom: 2rem;
    height: 30rem;
  }
}

.flowImg {
  max-height: 60rem;
  position: absolute;
  left: 0;
  width: 200%;
  max-width: 200%;
  transition: all 1s ease;
  
}

.step_0 {
  left: 0%; 
  transform: translate(-0%, 0);
}
.step_1 {
  left: 33%; 
  transform: translate(-33%, 0);
}
.step_2 {
  left: 66%; 
  transform: translate(-66%, 0);
}
.step_3 {
  left: 100%; 
  transform: translate(-100%, 0);
}

.negativeMarginBottom {
  padding-top: 4rem;
  padding-bottom: 15rem;
}

.topOffset {
  margin-top: -30rem;
  padding-bottom: 4rem
}
