.about {
    p {
        line-height: 2rem;
    }
    &--wrapper {
        display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }
    
    &__content {
        max-width: 100%;
        padding-left: 0rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        
        @include media-breakpoint-up(md) {
            padding-left: 5rem;
            max-width: 70%;
        }

        &-statement {
            margin: 4rem 0;
        }

        &-wrapper {
            margin-bottom: 8rem;
        }
    }

    &-skills__content {
        max-width: 60%;
        padding-left: 1rem;
    }
}

.heading {
    &-border {
        border-bottom: 1px solid $color-black;
        margin-bottom: 2.2rem;
    }
    &-text {
        @include type-body-md();
    }
}

#tools-block {
    margin-bottom: 1rem;

    h4 {
        margin-bottom: 0.1rem;
    }
}
