.description {
    animation: a .5s ease-in-out forwards;
    animation-delay: .7s;
}

.project-hero {
    padding: 4rem 0;
    
    @include media-breakpoint-up(md) {
        padding: 7rem 0;
    }
    img {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 90%;
        }
    }

    &__description {
        margin-bottom: 3rem;
    }
}
@keyframes description {
    0% {opacity:0;}
    100% {opacity:1;}
    }