.project-overview {
    // margin-bottom: 3rem;
    &__section {
        margin-bottom: 2rem;
    }
    &__col {
        display: flex;

        &-header {
            margin-left: 2rem;
        }

        &-logo img {
            width: 100%;
        }
    }
}

.header {
    margin-bottom: 4rem;
}

.col-containers {
    display: flex;
    margin-bottom: 2rem;
}

.category-list {
    margin-bottom: 2rem;
}

.col-sm-4 {
    padding: 0;
}

