.project-overview {
    // margin-bottom: 3rem;
    &__section {
        margin-bottom: 2rem;
    }
    &__container {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 40px 0;
        // padding: 1rem 2.5rem;
        position: relative;

        &-header {
            margin-left: 2rem;
        }

        &-logo img {
            width: 100%;
        }
    }
}

.header {
    margin-bottom: 4rem;
}

.col-containers {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.category-list {
    margin: 20px 0;
    margin-right: 1rem;
}

.col-sm-4 {
    padding: 0;
}

