
@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.hero {
    // margin: 0 2.7rem;
    // @include media-breakpoint-down(md) {
    //     margin: 0;
    // }

    &__title {
        opacity: 0;
        animation: fade-in-right 1.5s forwards;
    }

    &__description {
        line-height: 2rem;
        margin-bottom: 1rem;
        
        @include media-breakpoint-up(md) {
            line-height: 2.85rem;
        }
    }

    &__container {
        display: flex;

        &--quote {
            margin: 4rem;
        }
    }
}