.e-container {
    @include color();
    
    &--bg-grey {
        background: $color-peach-light;
    }
    
    &--bg-peach {
        background: $color-ps-peach-light;
    }

    &--bg-blue {
        background: $color-black;
        color: $color-white;
    }

}