@import '../../styles/variables.scss';


.wrapper{
  &:hover {
    cursor: pointer;
  }
}

.projectImage:hover img {
  transform: scale(1.09) ease-in-out;
  transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
}

.link:hover {
  .projectImage {
    transform: scale(1.1);
    transition: 0.7s ease-in-out;
  }
}

.title::after {
  position: absolute;
  height: 2px;
  background-color: $color-black;
  left: 50%;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}

.title:hover .title::after {
  width: 100%;
  left:0;
}
