@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@font-face {
    font-family: 'Berlingske';
    src: url('/assets/BerlingskeSerif-Blk.ttf')
}

html {
    body {
        // @include color();
        ul {
            margin-bottom: 0;
        }
    }

    a {

        color: $color-black;
        &:hover {
            color: $color-black;
        }
    }

    main {
        padding-top:100px;
    }
}
