@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@font-face {
    font-family: 'Berlingske';
    src: url('/assets/BerlingskeSerif-Blk.ttf')
}

html {
    body {
        ul {
            margin-bottom: 0;
        }
    }

    a {
        color: $color-black;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $color-peach;
        }
    }

    .custom-link {
        text-decoration: underline;
        color: $color-peach;
        
        &:hover {
            text-decoration: underline;
            color: $color-brand-dark-peach;
            transition: all .2s ease-in-out;
        }
    }

    main {
        padding-top:100px;
    }

    .container {
        padding-right: 25px;
        padding-left: 25px
    }

    section {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
