.es-button {
    align-items: center;
    padding: 1rem 2rem;
    max-width: 20rem;
    align-self: flex-start;
    cursor: pointer;
    
    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    &--primary { 
        background-color: transparent;
        border: solid 1.35px $color-peach;
        border-radius: 0px;
        color: $color-peach;
        display: inline-block;
        letter-spacing: .1rem;
        text-align: center;
        transition: .25s ease-in-out;

        &:hover {
            background-color: $color-peach;
            color: $color-white;
        }

        &:active {
            background-color: $color-peach-dark;
            color: $color-white;
        }

        &:before {
            transform: translateX(-101%)
        }
    }
}

