// Primary
$color-peach: #EFA786;
// $color-blue: #224AE5;
$color-blue: #215DD9;
$color-black: #292A2D;

$color-peach-light: #FCF9F8; // grey-ish bcgk with a tint of peach
$color-grey-light: #C4C4C4;
$color-grey: #A6A2A2;
$color-white: #FDFAF9;

$primary: #0077FF;
$dark: #000; 

// Project Brand Colors
// ============ Light
$color-brand-light-peach: #FAF5F0;
$color-brand-light-purple: #E4E6FF;
// $color-brand-light-red: #FFE9DA;
$color-brand-light-red: #FFD9D4;
$color-brand-light-blue: #DFF5F6;
// ============ Dark 
$color-brand-dark-peach: #D86837;
$color-brand-dark-purple: #222670;
$color-brand-dark-red: #F36A5B;
$color-brand-dark-blue: #4C6566;

$color-ps-brown: #625B5B;
$color-ps-brown-light: #B8A8A8;
$color-ps-peach-light:#FAF5F0;
