.heading {

    &-h1 {
        @include type-heading-h1();
    }
    &-h2 {
        @include type-heading-h2();
        letter-spacing: 0.1rem;
    }
    &-h3 {
        @include type-body-lg();
    }
    &-h4 {
        @include type-heading-h3();
    }
    &-h5 {
        @include type-body-sm();
        letter-spacing: 0.08rem;
    }
    &-h6 {
        @include type-body-xs();
        letter-spacing: 0.08rem;
        font-weight: 600;
    }

    &--color {
        @include color();
    }

    &--weight {
        &-xbold {
            font-weight: 800;
        }
        &-bold {
            font-weight: 700;
        }
        &-semi {
            font-weight: 600;
        }
        &-reg {
            font-weight: 400;
        }
        &-lt {
            font-weight: 300;
        }
    }
}
