.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
        margin-bottom: 3rem;
    }

    &__label {
        display:flex;
        margin-bottom: 1rem;
        &-para {
            margin-right: 1rem;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
}

.contact-form {
    margin-bottom: 1rem;
    &__label {
        margin-right: 2rem;
    }
}

.delete {
    margin-left: auto;
}