// .cta {
//     display: flex;
//     &-icon {
//         margin-left: 1rem;
//     }
// }

.projects {

    &__container {
        display: flex;
        
        &-header {
            &:hover {
                transform:  translateY(-8px);
            }
        }
        &-content {
            display: flex;
            margin-top: 1.15rem;
            margin-bottom: 1.15rem;

            &-wrapper {
                display: flex;
                flex-direction: column;
                padding-left: 4rem;
                margin: auto;
                height: 200px;
                padding-left: 0;
                
                @include media-breakpoint-up(sm) {
                    height: 250px;
                }

                @include media-breakpoint-up(md) {
                    height: 350px;
                }

            }
        }
        
        &-image {
            width: 100%;
        }
    }
}

.description {
    margin-top: auto;
}
.tags {
    padding-bottom: 0;
    
    @include media-breakpoint-up(sm) {
        padding-bottom: 0.85rem;
    }
}