.divider {
    display: block;
    margin: 6rem auto;
}

.cta {
    display: flex;
    img {
        margin-left: 1rem;
    }
}

.projects {
    &__container {
        display: flex;
        margin-bottom: 10rem;

        &-content {
            margin-top: 3rem;
        }

        &-image {
            width: 100%;
        }
    }
}