footer {
    display: flex;
    flex-direction: column;

    .container {
        padding-top: 2rem;
    }

    li {
        @include links();
        display: inline-block;
        font-weight: 400;
        text-align: center;
        
        &:not(:first-child) {
            margin-left: 1rem;
        }
        
        @include media-breakpoint-up(md) {
            display: block;
            &:not(:first-child) {
                margin-left: 2rem;
            }
        }
    }
    ul {
        display: inline-block;
        margin-block-start: 0;
        padding-inline-start: 0;
        margin-bottom: 0;
        list-style-type: none;
        list-style: none;
        margin-block-start: 0em;
        padding-inline-start: 0em;
    }

    nav {
        text-align: center;

        @include media-breakpoint-up(sm) {
            text-align: left;
        }
    }

    p {
        text-align: center;
        @include media-breakpoint-up(sm) {
            text-align: left;
        }
    }
    
}

.footer {

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 1rem;
    }

    &__nav--top {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 5rem
        }
    }

    &__nav--bottom {
        margin-top: auto;
    }

    &__logo {
        margin-bottom: 1.75rem;
        text-align: center;
        
        @include media-breakpoint-up(sm) {
            text-align: left;
        }
    }

    &__link {
        @include links();
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__header {
        text-align: center;

        @include media-breakpoint-up(sm) {
            text-align: left;
        }

        h4 {
            line-height: normal;
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 2rem;
        }
    }

    #logo-plain {
        @include type-heading-h2; 
    
        span {
            color: $color-peach;
        }
    }
}

#copyright {
    margin-top:0.5rem;
}
