@mixin links {
    color: $color-black;
    font-weight: regular;
    text-decoration: none;

    &:hover {
        transition: all .2s ease-in-out;
        color: $color-peach;
        text-decoration: none;
    }
}