@mixin links {
    padding: 1%;
    margin: -1%;
    color: $color-grey;

    &:active {
        color: $color-peach;
        font-weight: bold;
        border-bottom: 1.5px solid $color-peach;
        text-decoration: none;
    }

    &:hover {
        transition: all 0.1s ease 0s;
        color: $color-peach;
        font-weight: bold;
        // border-bottom: 1.5px solid $color-peach;
        text-decoration: none;
    }
}