@mixin type-body-base {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $color-black;
}

@mixin type-heading-base {
    font-family: 'Berlingske', sans-serif;
    font-style: normal;
    color: $color-black;
}

@mixin type-body-xs{
    @include type-body-base();
    font-size: 0.8rem;
    letter-spacing: -0.03em;
}

@mixin type-body-sm{
    @include type-body-base();
    font-size: 1rem;
}

@mixin type-body-md {
    @include type-body-base();
    font-size: 18px;
    line-height: 1.75rem;
}

@mixin type-body-lg {
    @include type-body-base();
    font-size: 28px;
    line-height: 2.5rem;
}

@mixin type-body-xl {
    @include type-body-base();
    font-size: 36px;
    // font-weight: bold;
    line-height: 50px;
}

// =========== HEADINGS
@mixin type-heading-h1 {
    @include type-heading-base();
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 1.8rem;

    @include media-breakpoint-down(sm) {
        font-size: 48px;
    }
}

@mixin type-heading-h2 {
    @include type-heading-base();
    font-size: 48px;
    line-height: 58px;

    @include media-breakpoint-down(sm) {
        font-size: 32px;
    }
}

@mixin type-heading-h3 {
    @include type-heading-base();
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.05em;

    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
}




