@mixin type-body-base {
    // font-family: 'Karla', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin type-heading-base {
    font-family: 'Berlingske', sans-serif;
    font-style: normal;
}

@mixin type-body-xs{
    @include type-body-base();
    font-size: 0.85rem;
    // letter-spacing: -0.02em;
}

@mixin type-body-sm{
    @include type-body-base();
    font-size: 0.85rem;
    line-height: 1.85rem;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@mixin type-body-md {
    @include type-body-base();
    font-size: 1rem;
    line-height: 2.25rem;
    
    @include media-breakpoint-up(md) {
        font-size: 1.333em;
        line-height: 2.75rem;
    }
}

@mixin type-body-lg {
    @include type-body-base();
    // font-size: 28px;
    font-size: 1.777rem;
    line-height: 2.75rem;

    @include media-breakpoint-up(md) {
        font-size: 2rem; 
        line-height: 3.25rem;
    }
}

@mixin type-body-xl {
    @include type-body-base();
    font-size: 2.369rem;
    line-height: 4rem;
    
    @include media-breakpoint-up(md) {
        font-size: 3rem; // 37.9px 
        line-height: 4.5rem;
    }
}

// =========== HEADINGS
@mixin type-heading-h1 {
    @include type-heading-base();
    font-size: 3.157rem;
    line-height: 100%;
    margin-bottom: 1.8rem;
    
    @include media-breakpoint-up(md) {
        font-size: 4.209rem;
    }
}

@mixin type-heading-h2 {
    @include type-heading-base();
    font-size: 2.369rem;
    line-height: 2.75rem;

    @include media-breakpoint-up(md) {
        font-size: 3.157rem;
        line-height: 3.75rem;
    }
}

@mixin type-heading-h3 {
    letter-spacing: 0.1rem;
    @include type-heading-base();
    font-size: 1.777rem;
    line-height: 2rem;
    
    @include media-breakpoint-up(md) {
        font-size: 2.369rem;
        line-height: 2.85rem;
    }
}

// @mixin type-heading-h4 {
//     @include type-heading-base();
//     font-size: 1.333rem;
//     line-height: 2rem;
//     letter-spacing: 0.05rem;
    
//     @include media-breakpoint-up(md) {
//         font-size: 1.777rem;
//         line-height: 2.85rem;
//     }
// }




