@mixin type-body-base {
    font-family: 'Sneak-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin type-body-base-black {
    font-family: 'Sneak-Black', sans-serif;
    font-style: normal;
    font-weight: 800;
}

@mixin type-body-base-bold {
    font-family: 'Sneak-Bold', sans-serif;
    font-style: normal;
    font-weight: 600;
}

@mixin type-body-base-med {
    font-family: 'Sneak-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
}

@mixin type-body-base-light {
    font-family: 'Sneak-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin type-heading-base {
    font-family: 'Berlingske', sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin type-body-xs{
    @include type-body-base();
    font-size: 0.875rem;
    line-height: 1.05rem;
}

@mixin type-body-sm{
    @include type-body-base();
    font-size: 0.95rem;
    line-height: 1.875rem;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@mixin type-body-md {
    @include type-body-base();
    font-size: 1rem;
    line-height: 2rem;
    font-weight: normal;
    
    @include media-breakpoint-up(md) {
        font-size: 1.125rem;
        line-height: 2.1875rem;
    }
}

@mixin type-body-lg {
    @include type-body-base();
    font-size: 1.777rem;
    line-height: 2.55rem;

    @include media-breakpoint-up(md) {
        font-size: 2rem; 
        line-height: 3rem;
    }
}

@mixin type-body-xl {
    @include type-body-base();
    font-size: 2.369rem;
    line-height: 2.5rem;
    
    @include media-breakpoint-up(md) {
        font-size: 3rem; // 37.9px 
        line-height: 3rem;
    }
}

// =========== HEADINGS
@mixin type-heading-h1 {
    @include type-heading-base();
    font-size: 2.375rem;
    line-height: 100%;
    margin-bottom: 1.8rem;
    
    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

@mixin type-heading-h2 {
    @include type-heading-base();
    font-size: 1.55rem;
    line-height: 2rem;

    @include media-breakpoint-up(md) {
        font-size: 1.75rem;
        line-height: 2.125rem;
    }
}

@mixin type-heading-h3 {
    // letter-spacing: 0.1rem;
    @include type-heading-base();
    font-size: 1.15rem;
    line-height: 2rem;
    
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
        line-height: 2.125rem;
    }
}




