// Primary
$color-primary: #F85927;
$color-secondary: #FF92F4;
$color-accent: #FBCA0A;
$color-blue: #215DD9;

$color-white: #FEFDFC;
$color-cream: #F5F4EC;
$color-grey-light: #F3F2F1;
$color-grey-medium: #CACACA;
$color-grey-dark: #6C6D72;
$color-black: #2D2F34;

// Project brand colors
// ----- Raise.dev
$color-raise-blue: #E1EBFF;
// ----- PaperSpace
$color-ps-peach-light: #FAF5F0;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$bp-mobile: $bp-sm;
$bp-tablet: $bp-lg;
