
// Primary
$color-peach-light: #F6F0ED;
$color-peach: #EFA786;
$color-peach-dark: #D4774D;
$color-blue: #215DD9;

$color-white: #FEFDFC;
$color-grey-light: #FCFCFB;
$color-grey-medium: #CCCBCB;
$color-grey-dark: #4B4B4E;
$color-black: #2D2F34;

// Project brand colors
// ----- Raise.dev
$color-raise-blue: #E1EBFF;
// ----- PaperSpace
$color-ps-peach-light: #FAF5F0;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$bp-mobile: $bp-sm;
$bp-tablet: $bp-lg;
