.e-nav {
    position: relative;
    background: white;
    width: 100%;
    position: fixed;
    z-index: 10;
    
    &__wrapper {
        align-items: center;
        display: flex;
        height: 100px;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__link {
        @include links();
        letter-spacing: 0.0125rem;
        &--active {
            color: $color-grey;
            border-bottom: thin;
        }
    }

    &__logo {
        text-decoration: none;
        margin-bottom: 0;
        &:hover {
            text-decoration: none;
            color: $color-peach;
            transition: all .2s ease-in-out;
        }
    }

    &__list {
        margin-left: auto;
        display: flex;
        align-items: center;

        li {
            font-size: 0.95rem;
            display: inline-block;
            margin-left: 60px;
    
            @include media-breakpoint-down(sm) {
                margin-left: 25px;
            }

            &:first-child {
                margin-left: 0;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-left: 0;
        }
    }
    
}

